doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        meta(charset='UTF-8')

    block metas

    body
        div.tool-bar
            div.container
        div.container
            block content